<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>콤보박스 컴포넌트</title>
    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <h1 class="sr-only">콤보박스</h1>
    <div class="select">
      <div class="global"></div>
      <label for="select" class="sr-only">언어선택</label>
      <select name="select" id="select">
        <option value="ko">한국어</option>
        <option value="en">영어</option>
        <option value="ch">중국어</option>
      </select>
      <div class="arrow"></div>
    </div>
  </body>
</html>
